@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;
}

body {
  font-family: "Public Sans Variable", Inter, system-ui, Helvetica, Arial,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: text;
  text-size-adjust: 100%;

  overscroll-behavior-y: contain;
  overflow-x: hidden;
  font-size: 100%;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  margin: 0;
  min-width: 320px;
}

p {
  color: #111111;
}

strong {
  color: black;
}

/* Placeholder (at the top) */
.tiptap .is-editor-empty:first-child::before {
  color: #a3a3a3;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
